<div class="container">
  <h1>MattyMoo's Blog</h1>
  <p>Checkout me wicked sweet blog, chus</p>
  <a href="/about">This is an anchor tag to the about page</a>
  <%= link_to "This about is using ERB's path", about_path %>
</div>
